
    /* START REPORT 1 */

    /* Start Cover */
    .PDF .BackGroundImge .Cover{
        position: relative;
    }
    .PDF .BackGroundImge .Cover .BigCover .Tilte{
        background: var(--BackGround-color-Blue-Bold);
        width: 600px;
        height: 70px;
        position: relative;
        left: 75px;
        border-radius: 10px;
    }
    .PDF .BackGroundImge .Cover .BigCover .Tilte span{
        color: white;
        font-size: 45px;
        font-weight: bolder;
        position: relative;
        left: 10px;
    }
    .PDF .BackGroundImge .Cover .BigCover .DivLogo{
        width: 600px;
        height: 400px;
        position: relative;
        left: 75px;
        top: 60px;
    }
    .PDF .BackGroundImge .Cover .BigCover .DivLogo span{
        color: var(--BackGround-color-Blue-Bold);
        font-size: 35px;
        font-weight: bolder;
        margin-left: 16px;
    }
    .PDF .BackGroundImge .Cover .BigCover .DivLogo .Logo{
        width: 95%;
    }
    .PDF .BackGroundImge .Cover .BigCover .PersonDetils{
        width: 400px;
        height: 80px;
        position: absolute;
        bottom: 0px;
        left: 200px;
    }
    .PDF .BackGroundImge .Cover .BigCover .PersonDetils span{
        color: var(--Font-Color);
        display: block;
        font-size: 35px;
        font-weight: 800;
        margin-left: 40px;
    }
    .PDF .BackGroundImge .Cover .BigCover .PersonDetils span:nth-child(2){
        margin-left: 90px;
    }

    /* End Cover */
    /* Start Intro */
    .PDF .BackGroundImge .Intro{
        position: relative;
    }
    .Intro .IntroBatrn{
        position: absolute;
        left: 49%;
    }
    .PDF .BackGroundImge .Cover .BigCover{
        position: absolute;
        bottom: 270px;
        left: 150px;
        width: 70%;
        height: 50%;    
    }
    .PDF .BackGroundImge .Intro .IntroText{
        position: absolute;
        top: 250px;
        right: 20px;
        width: 80%;
    }
    .PDF .BackGroundImge .Intro .IntroText .Text{
        font-size: 20px;
        font-weight: 600;
        font-family: var(--font-family);
        text-align: right;
        color: var(--Font-Color);
    }
    /* End Intro */
    /* start catalogue */
    .catalogue{
        position: relative;
        width: 1100px;
    }
    .catalogue .IntroBatrn{
        position: absolute;
        left: 41%;
    }
    .catalogue .cataloguePhrase{
        width: 80%;
        height: 75%;
        position: absolute;
        top: 11%;
        right: 50px;
    }
    .catalogue .cataloguePhrase .Phrase{
        width: 100%;
        height: 40px;
        position: relative;
        right: 8px;
        top: 60px;
        float: right;
        display: flex;
        margin-bottom: 2px;
    }
    .catalogue .cataloguePhrase .Phrase .Number{
        font-size: 25px;
        font-weight: 500;
        position: absolute;
        right: 6px;
        top: -10px;
        color: white;
    }
    .catalogue .cataloguePhrase .Phrase .Text{
        font-size: 20px;
        position: absolute;
        right: 55px;
        top: 1px;
        color: var(--Font-Color);
        font-family: var(--font-family);
    }
    .catalogue  .LastText{
        width: 80%;
        position: absolute;
        bottom: 150px;
        right: 42px;
        font-size: 20px;
        font-weight: 600;
        font-family: var(--font-family);
        text-align: right;
        color: var(--Font-Color);
    }
    /* // */
    .GenralBigText{
        position: relative;
    }
    .GenralBigText .IntroBatrn{
        position: absolute;
        left: 41%;
    }
    .GenralBigText .BigText {
        position: absolute;
        top: 15%;
        right: 50px;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: right;
        font-size: 23px;
        font-weight: 600;
        width: 90%;
        height: 70%;
    }
    /* End catalogue */
    /* Start ManyGraphs-1 */
    .ManyGraphs-1{
        position: relative;
        width: 1104px;
        height: 1563px;
    }
    .ManyGraphs-1 .IntroBatrn{
        position: absolute;
        left: 38%;
    }
    .ManyGraphs-1 .Graph-1{
        position: absolute;
        top: 422px;
        left: 295px;
        width: 205.5px;
        height: 382px;
        border-radius: 10px;
    }
    .ManyGraphs-1 .Graph-1 .TopBox{
        position: absolute;
        top: -100px;
        width: 200px;
        height: 100px;
    }
    .ManyGraphs-1 .Graph-1 .TopBox div:nth-child(1){
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-1 .TopBox div:nth-child(1) span{
        display: inline-block;
        margin-left: 18px;
        width: 80%;
        height: 80%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #585a5b;
    }
    .ManyGraphs-1 .Graph-1 .TopBox div:nth-child(2){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-1 .TopBox div:nth-child(3){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-1 .TopBox div:nth-child(2) span,
    .ManyGraphs-1 .Graph-1 .TopBox div:nth-child(3) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 50px;
        height: 100%;
        border-radius: 16px;
        font-size: 12px;
        font-weight: bolder;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }
    .ManyGraphs-1 .Graph-1 .BottomBox{
        position: absolute;
        width: 200px;
        height: 100px;
    }
    .ManyGraphs-1 .Graph-1 .BottomBox div:nth-child(3){
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-1 .BottomBox div:nth-child(3) span{
        display: inline-block;
        margin-left: 18px;
        width: 80%;
        height: 80%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #969899;
    }
    .ManyGraphs-1 .Graph-1 .BottomBox div:nth-child(1){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-1 .BottomBox div:nth-child(2){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-1 .BottomBox div:nth-child(1) span,
    .ManyGraphs-1 .Graph-1 .BottomBox div:nth-child(2) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 50px;
        height: 100%;
        border-radius: 16px;
        font-size: 12px;
        font-weight: bolder;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }

    .ManyGraphs-1 .Graph-2 .TopBox{
        position: absolute;
        top: -100px;
        width: 200px;
        height: 100px;
    }
    .ManyGraphs-1 .Graph-2 .TopBox div:nth-child(1){
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-2 .TopBox div:nth-child(1) span{
        display: inline-block;
        margin-left: 18px;
        width: 80%;
        height: 80%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #2f6588;
    }
    .ManyGraphs-1 .Graph-2 .TopBox div:nth-child(2){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-2 .TopBox div:nth-child(3){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-2 .TopBox div:nth-child(2) span,
    .ManyGraphs-1 .Graph-2 .TopBox div:nth-child(3) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 50px;
        height: 100%;
        border-radius: 16px;
        font-size: 12px;
        font-weight: bolder;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }
    .ManyGraphs-1 .Graph-2 .BottomBox{
        position: absolute;
        width: 200px;
        height: 100px;
    }
    .ManyGraphs-1 .Graph-2 .BottomBox div:nth-child(3){
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-2 .BottomBox div:nth-child(3) span{
        display: inline-block;
        margin-left: 18px;
        width: 80%;
        height: 80%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: var(--BackGround-color-Blue-Sco);
    }
    .ManyGraphs-1 .Graph-2 .BottomBox div:nth-child(1){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-2 .BottomBox div:nth-child(2){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-2 .BottomBox div:nth-child(1) span,
    .ManyGraphs-1 .Graph-2 .BottomBox div:nth-child(2) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 50px;
        height: 100%;
        border-radius: 16px;
        font-size: 12px;
        font-weight: bolder;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }
    .ManyGraphs-1 .Graph-3 .TopBox{
        position: absolute;
        top: -100px;
        width: 200px;
        height: 100px;
    }
    .ManyGraphs-1 .Graph-3 .TopBox div:nth-child(1){
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-3 .TopBox div:nth-child(1) span{
        display: inline-block;
        margin-left: 18px;
        width: 80%;
        height: 80%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #579e52;
    }
    .ManyGraphs-1 .Graph-3 .TopBox div:nth-child(2){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-3 .TopBox div:nth-child(3){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-3 .TopBox div:nth-child(2) span,
    .ManyGraphs-1 .Graph-3 .TopBox div:nth-child(3) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 50px;
        height: 100%;
        border-radius: 16px;
        font-size: 12px;
        font-weight: bolder;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }
    .ManyGraphs-1 .Graph-3 .BottomBox{
        position: absolute;
        width: 200px;
        height: 100px;
    }
    .ManyGraphs-1 .Graph-3 .BottomBox div:nth-child(3){
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-3 .BottomBox div:nth-child(3) span{
        display: inline-block;
        margin-left: 18px;
        width: 80%;
        height: 80%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #83be68;
    }
    .ManyGraphs-1 .Graph-3 .BottomBox div:nth-child(1){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-3 .BottomBox div:nth-child(2){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-3 .BottomBox div:nth-child(1) span,
    .ManyGraphs-1 .Graph-3 .BottomBox div:nth-child(2) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 50px;
        height: 100%;
        border-radius: 16px;
        font-size: 12px;
        font-weight: bolder;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }
    .ManyGraphs-1 .Graph-4 .TopBox{
        position: absolute;
        top: -100px;
        width: 200px;
        height: 100px;
    }
    .ManyGraphs-1 .Graph-4 .TopBox div:nth-child(1){
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-4 .TopBox div:nth-child(1) span{
        display: inline-block;
        margin-left: 18px;
        width: 80%;
        height: 80%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #9b3732;
    }
    .ManyGraphs-1 .Graph-4 .TopBox div:nth-child(2){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-4 .TopBox div:nth-child(3){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-4 .TopBox div:nth-child(2) span,
    .ManyGraphs-1 .Graph-4 .TopBox div:nth-child(3) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 50px;
        height: 100%;
        border-radius: 16px;
        font-size: 12px;
        font-weight: bolder;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }
    .ManyGraphs-1 .Graph-4 .BottomBox{
        position: absolute;
        width: 200px;
        height: 100px;
    }
    .ManyGraphs-1 .Graph-3 .BottomBox div:nth-child(3){
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-4 .BottomBox div:nth-child(3) span{
        display: inline-block;
        margin-left: 18px;
        width: 80%;
        height: 80%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #de6b64;
    }
    .ManyGraphs-1 .Graph-4 .BottomBox div:nth-child(1){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-4 .BottomBox div:nth-child(2){
        width: 100%;
        height: 25%;
    }
    .ManyGraphs-1 .Graph-4 .BottomBox div:nth-child(1) span,
    .ManyGraphs-1 .Graph-4 .BottomBox div:nth-child(2) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 50px;
        height: 100%;
        border-radius: 16px;
        font-size: 12px;
        font-weight: bolder;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }
    
    .ManyGraphs-1 .Graph-1 .Graph-Top-1{ 
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-1 .Graph-Top-1 .Canvas:nth-child(1){ 
        position: absolute;
        bottom: 50.1%;
        left: 40px;
        background-color: #585a5b;
    }
    .ManyGraphs-1 .Graph-1 .Graph-Top-1 .Canvas:nth-child(2){ 
        position: absolute;
        bottom: 50.1%;
        left: 90px;
        background-color: #585a5b;
    }
    .ManyGraphs-1 .Graph-1 .Graph-Top-1 .Canvas:nth-child(3){ 
        position: absolute;
        bottom: 50.1%;
        left: 140px;
        background-color: #585a5b;
    }
    .ManyGraphs-1 .Graph-1 .Graph-Bottom-1{ 
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-1 .Graph-Bottom-1 .Canvas:nth-child(1){ 
        position: absolute;
        top: 50.7%;
        left: 40px;
        background-color: #969899;
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-1 .Graph-Bottom-1 .Canvas:nth-child(2){ 
        position: absolute;
        top: 50.7%;
        left: 90px;
        background-color: #969899;
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-1 .Graph-Bottom-1 .Canvas:nth-child(3){ 
        position: absolute;
        top: 50.7%;
        left: 140px;
        background-color: #969899;
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-2{
        position: absolute;
        top: 422px;
        left: 648px;
        width: 205.5px;
        height: 382px;
        border-radius: 10px;
    }
    .ManyGraphs-1 .Graph-2 .Graph-Top-1{ 
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-2 .Graph-Top-1 .Canvas:nth-child(1){ 
        position: absolute;
        bottom: 50.1%;
        left: 40px;
        background-color: #2f6588;
    }
    .ManyGraphs-1 .Graph-2 .Graph-Top-1 .Canvas:nth-child(2){ 
        position: absolute;
        bottom: 50.1%;
        left: 90px;
        background-color: #2f6588;
    }
    .ManyGraphs-1 .Graph-2 .Graph-Top-1 .Canvas:nth-child(3){ 
        position: absolute;
        bottom: 50.1%;
        left: 140px;
        background-color: #2f6588;
    }
    .ManyGraphs-1 .Graph-2 .Graph-Bottom-1{ 
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-2 .Graph-Bottom-1 .Canvas:nth-child(1){ 
        position: absolute;
        top: 50.7%;
        left: 40px;
        background-color: var(--BackGround-color-Sco);
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-2 .Graph-Bottom-1 .Canvas:nth-child(2){ 
        position: absolute;
        top: 50.7%;
        left: 90px;
        background-color: var(--BackGround-color-Sco);
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-2 .Graph-Bottom-1 .Canvas:nth-child(3){ 
        position: absolute;
        top: 50.7%;
        left: 140px;
        background-color: var(--BackGround-color-Sco);
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-3{
        position: absolute;
        top: 1027px;
        left: 295px;
        width: 205.5px;
        height: 382px;
        border-radius: 10px;
    }
    .ManyGraphs-1 .Graph-3 .Graph-Top-1{ 
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-3 .Graph-Top-1 .Canvas:nth-child(1){ 
        position: absolute;
        bottom: 50.1%;
        left: 40px;
        background-color: #579e52;
    }
    .ManyGraphs-1 .Graph-3 .Graph-Top-1 .Canvas:nth-child(2){ 
        position: absolute;
        bottom: 50.1%;
        left: 90px;
        background-color: #579e52;
    }
    .ManyGraphs-1 .Graph-3 .Graph-Top-1 .Canvas:nth-child(3){ 
        position: absolute;
        bottom: 50.1%;
        left: 140px;
        background-color: #579e52;
    }
    .ManyGraphs-1 .Graph-3 .Graph-Bottom-1{ 
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-3 .Graph-Bottom-1 .Canvas:nth-child(1){ 
        position: absolute;
        top: 50.7%;
        left: 40px;
        background-color: #83be68;
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-3 .Graph-Bottom-1 .Canvas:nth-child(2){ 
        position: absolute;
        top: 50.7%;
        left: 90px;
        background-color: #83be68;
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-3 .Graph-Bottom-1 .Canvas:nth-child(3){ 
        position: absolute;
        top: 50.7%;
        left: 140px;
        background-color: #83be68;
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-4{
        position: absolute;
        top: 1028px;
        left: 648px;
        width: 205.5px;
        height: 382px;
        border-radius: 10px;
    }
    .ManyGraphs-1 .Graph-4 .Graph-Top-1{ 
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-4 .Graph-Top-1 .Canvas:nth-child(1){ 
        position: absolute;
        bottom: 50.1%;
        left: 40px;
        background-color: #9b3732;
    }
    .ManyGraphs-1 .Graph-4 .Graph-Top-1 .Canvas:nth-child(2){ 
        position: absolute;
        bottom: 50.1%;
        left: 90px;
        background-color: #9b3732;
    }
    .ManyGraphs-1 .Graph-4 .Graph-Top-1 .Canvas:nth-child(3){ 
        position: absolute;
        bottom: 50.1%;
        left: 140px;
        background-color: #9b3732;
    }
    .ManyGraphs-1 .Graph-4 .Graph-Bottom-1{ 
        width: 100%;
        height: 50%;
    }
    .ManyGraphs-1 .Graph-4 .Graph-Bottom-1 .Canvas:nth-child(1){ 
        position: absolute;
        top: 50.5%;
        left: 40px;
        background-color: #de6b64;
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-4 .Graph-Bottom-1 .Canvas:nth-child(2){ 
        position: absolute;
        top: 50.5%;
        left: 90px;
        background-color: #de6b64;
        opacity: .5;
    }
    .ManyGraphs-1 .Graph-4 .Graph-Bottom-1 .Canvas:nth-child(3){ 
        position: absolute;
        top: 50.7%;
        left: 140px;
        background-color: #de6b64;
        opacity: .5;
    }

    /* End ManyGraphs-1 */
    /* STrat SkillsScoCover */
    .SkillsScoCover{
        position: relative;
    }
    .SkillsScoCover .Text{
        position: absolute;
        top: 30%;
        left: 26%;
        font-size: 42px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    /* End SkillsScoCover */
    /* Start BigOneGraph */
    .BigOneGraph-1{
        position: relative;
    }
    .BigOneGraph-1 .IntroBatrn{
        position: absolute;
        left: 28%;
    }
    .BigOneGraph-1 .Graph-1{
        position: absolute;
        top: 396px;
        left: 273px;
        width: 545px;
        height: 815px;
        border-radius: 12px;
    }
    .BigOneGraph-1 .Graph-1 .Graph-Top-1{ 
        width: 100%;
        height: 50%;
    }
    .BigOneGraph-1 .Graph-1 .Graph-Top-1 .Canvas:nth-child(1){ 
        position: absolute;
        bottom: 50.1%;
        left: 70px;
        background-color: #579e52;
    }
    .BigOneGraph-1 .Graph-1 .Graph-Top-1 .Canvas:nth-child(2){ 
        position: absolute;
        bottom: 50.1%;
        left: 170px;
        background-color: #9b3732;
    }
    .BigOneGraph-1 .Graph-1 .Graph-Top-1 .Canvas:nth-child(3){ 
        position: absolute;
        bottom: 50.1%;
        left: 290px;
        background-color: #585a5b;
    }
    .BigOneGraph-1 .Graph-1 .Graph-Top-1 .Canvas:nth-child(4){ 
        position: absolute;
        bottom: 50.1%;
        left: 410px;
        background-color: #2f6588;
    }
    .BigOneGraph-1 .Graph-1 .Graph-Bottom-1{ 
        width: 100%;
        height: 50%;
    }
    .BigOneGraph-1 .Graph-1 .Graph-Bottom-1 .Canvas:nth-child(1){ 
        position: absolute;
        top: 50.4%;
        left: 70px;
        background-color: #83be68;
        opacity: .5;
    }
    .BigOneGraph-1 .Graph-1 .Graph-Bottom-1 .Canvas:nth-child(2){ 
        position: absolute;
        top: 50.4%;
        left: 170px;
        background-color: #de6b64;
        opacity: .5;
    }
    .BigOneGraph-1 .Graph-1 .Graph-Bottom-1 .Canvas:nth-child(3){ 
        position: absolute;
        top: 50.4%;
        left: 290px;
        background-color: #969899;
        opacity: .5;
    }
    .BigOneGraph-1 .Graph-1 .Graph-Bottom-1 .Canvas:nth-child(4){ 
        position: absolute;
        top: 50.4%;
        left: 410px;
        background-color: var(--BackGround-color-Sco);
        opacity: .5;
    }

    .BigOneGraph-1 .Graph-1 .TopBox{
        position: absolute;
        top: -110px;
        width: 545px;
        height: 100px;
    }
    .BigOneGraph-1 .Graph-1 .TopBox div:nth-child(1){
        width: 100%;
    }
    .BigOneGraph-1 .Graph-1 .TopBox div:nth-child(1) span{
        display: inline-block;
        margin-left: 169px;
        width: 35%;
        height: 90%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #585a5b;
    }
    .BigOneGraph-1 .Graph-1 .TopBox div:nth-child(2){
        width: 100%;
        height: 25%;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .BigOneGraph-1 .Graph-1 .TopBox div:nth-child(3){
        width: 100%;
        height: 25%;
        margin-left: 20px;
    }
    .BigOneGraph-1 .Graph-1 .TopBox div:nth-child(2) span,
    .BigOneGraph-1 .Graph-1 .TopBox div:nth-child(3) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 100px;
        height: 100%;
        border-radius: 16px;
        font-size: 26px;
        font-weight: 500;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }
    .BigOneGraph-1 .Graph-1 .BottomBox{
        position: absolute;
        width: 545px;
        height: 100px;
    }
    .BigOneGraph-1 .Graph-1 .BottomBox div:nth-child(3){
        width: 100%;
    }
    .BigOneGraph-1 .Graph-1 .BottomBox div:nth-child(3) span{
        display: inline-block;
        margin-left: 169px;
        width: 35%;
        height: 90%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #585a5b;
        margin-top: 12px;
    }
    .BigOneGraph-1 .Graph-1 .BottomBox div:nth-child(1){
        width: 100%;
        height: 25%;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .BigOneGraph-1 .Graph-1 .BottomBox div:nth-child(2){
        width: 100%;
        height: 25%;
        margin-left: 20px;
    }
    .BigOneGraph-1 .Graph-1 .BottomBox div:nth-child(1) span,
    .BigOneGraph-1 .Graph-1 .BottomBox div:nth-child(2) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 100px;
        height: 100%;
        border-radius: 16px;
        font-size: 26px;
        font-weight: 500;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }


    /* End BigOneGraph */

    /* Strat GoodSkillEmpty */
    .GoodSkillEmpty{
        position: relative;
    }
    .GoodSkillEmpty .IntroBatrn{
        position: absolute;
        left: 22%;
    }
    .GoodSkillEmpty .H1Text{
        position: absolute;
        top: 18%;
        right: 50px;
        color: var(--BackGround-color-Blue);
        font-family: var(--font-family);
        text-align: right;
    }
    .GoodSkillEmpty .BigText{
        position: absolute;
        top: 26%;
        right: 50px;
        color: var(--Font-Color);
        font-family: var(--font-family);
        text-align: right;
        width: 90%;
        font-size: 23px;
    }
    /* End GoodSkillEmpty */
    /* Start ManyPhraseInSkills */
    .ManyPhraseInSkills-1{
        position: relative;
    }
    .ManyPhraseInSkills-1 .IntroBatrn{
        position: absolute;
        left: 22%;
    }
    .ManyPhraseInSkills-1 .SmallIntroBatrn{
        position: absolute;
        top: 18%;
        left: 41%;
        width: auto;
        height: auto;
        padding: 12px;
        color: white;
        border-radius: 18px;
        font-size: 18px;
        font-weight: 900;
        font-family: var(--font-family);
        background-color: var(--BackGround-color-Blue);
    }
    .ManyPhraseInSkills-1 .SmallIntroBatrnBottom{
        position: absolute;
        bottom: 4%;
        left: 42%;
        width: auto;
        height: auto;
        padding: 12px;
        color: white;
        border-radius: 18px;
        font-size: 18px;
        font-weight: 900;
        font-family: var(--font-family);
        background-color: var(--BackGround-color-Blue-Sco);
    }
    .ManyPhraseInSkills-1 .ManyPhraseBox{
        position: absolute;
        top: 22%;
        left: 27.1%;
        width: 510px;
        height: 1085px;
    }
    .ManyPhraseInSkills-1 .ManyPhraseBox .PhraseText{ 
        position: relative;
        top: 25px;
        left: 10px;
        width: 96%;
        height: 53px;
        margin-bottom: 5px;
        text-align: center;
    }
    .ManyPhraseInSkills-1 .ManyPhraseBox .PhraseText span{
        width: 100%;
        height: 100%;
        font-size: 18px;
        font-weight:900 ;
        font-family: var(--font-family);
        /* color: var(--Font-Color); */
    }
    /* End ManyPhraseInSkills */
    /* Start GoodSkillEmpty */
    .Empaty-3Report1{
        position: relative;
    }
    .Empaty-3Report1 .IntroBatrn{
        position: absolute;
        left: 21%;
    }
    .Empaty-3Report1 .H1Text{
        position: absolute;
        top: 18%;
        right: 50px;
        color: var(--BackGround-color-Blue);
        font-family: var(--font-family);
        text-align: right;
    }
    .Empaty-3Report1 .BigText{
        position: absolute;
        top: 26%;
        right: 50px;
        color: var(--Font-Color);
        font-family: var(--font-family);
        text-align: right;
        width: 90%;
        font-size: 23px;
    }
    /* End GoodSkillEmpty */

    /* END REPORT 1 */
