
    /* START REPORT 5 */

    /* Start ManyBox-7 */
    .ManyBox-7{
        position: relative;
    } 
    .ManyBox-7 .IntroBatrn{
        position: absolute;
        left: 23%;
    }
    .ManyBox-7 .ManyBoxesBox{
        width: 835px;
        height: 347px;
        border-radius: 20px;
    }
    .ManyBox-7 .ManyBoxesBox .LiftBox{
        width: 50%;
        height: 100%;
        display: inline-block;
    }
    .ManyBox-7 .ManyBoxesBox .LiftBox .TopTitle{
        position: relative;
        top: 15px;
        left: 18%;
        width: 70%;
        height: 25px;
        font-size: 14px;
        font-weight: 600;
        text-align: right;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-7 .ManyBoxesBox .LiftBox .TopTitleBoxs{
        position: relative;
        top: 25px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
    }
    .ManyBox-7 .ManyBoxesBox .LiftBox .TopTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 55px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-7 .ManyBoxesBox .LiftBox .CenterBox{
        position: relative;
        top: 40px;
        left: 14px;
        margin: auto;
        width: 87%;
        height: 155px;
        border-radius: 20px;
        display: flex;
    }
    .ManyBox-7 .ManyBoxesBox .LiftBox .CenterBox div{ 
        width: 80px;
        height: 50px;
        border: 1px solid white;
        padding: 3px;
        margin: 8px;
        margin-left: 27px;
        font-size: 14px;
        padding: 8px;
        padding-top: 10px;
        text-align: center;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        border: transparent;
    }

    .ManyBox-7 .ManyBoxesBox .LiftBox .BottumTitleBoxs{
        position: relative;
        top: 40px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
        margin-bottom: 8px;
    }
    .ManyBox-7 .ManyBoxesBox .LiftBox .BottumTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 57px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-7 .ManyBoxesBox .LiftBox .BottumTitle{
        position: relative;
        top: 50px;
        left: 25%;
        width: 70%;
        height: 25px;
        text-align: right;
        font-family: var(--font-family);
        font-weight: 900;
        color: white;
        font-size: 14px;
    }
    .ManyBox-7 .ManyBoxesBox .RightBox {
        width: 50%;
        height: 100%;
        display: inline-block;
        position: relative;
        top: -130px;
    }
    .ManyBox-7 .ManyBoxesBox .RightBox .BOX{
        position: relative;
        top: 80px;
        margin: auto;
        width: 79%;
        height: 240px;
        border-radius: 20px;
    }
    .ManyBox-7 .ManyBoxesBox .RightBox .BOX span{
        color: var(--Font-Color);
        position: relative;
        text-align: right;
        font-size: 8px;
        font-weight: 600;
        font-family: var(--font-family);
    }
    /* End ManyBox-7 */

    /* Start ManyBox-8 */
    .ManyBox-8{
        position: relative;
    }
    .ManyBox-8 .ManyBoxesBox{
        width: 835px;
        height: 347px;
        border-radius: 20px;
    }
    .ManyBox-8 .ManyBoxesBox .LiftBox{
        width: 50%;
        height: 100%;
        display: inline-block;
    }
    .ManyBox-8 .ManyBoxesBox .LiftBox .TopTitle{
        position: relative;
        top: 15px;
        left: 18%;
        width: 70%;
        height: 25px;
        font-size: 14px;
        font-weight: 600;
        text-align: right;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-8 .ManyBoxesBox .LiftBox .TopTitleBoxs{
        position: relative;
        top: 25px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
    }
    .ManyBox-8 .ManyBoxesBox .LiftBox .TopTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 55px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-8 .ManyBoxesBox .LiftBox .CenterBox{
        position: relative;
        top: 40px;
        left: 14px;
        margin: auto;
        width: 87%;
        height: 155px;
        border-radius: 20px;
        display: flex;
    }
    .ManyBox-8 .ManyBoxesBox .LiftBox .CenterBox div{ 
        width: 80px;
        height: 50px;
        border: 1px solid white;
        padding: 3px;
        margin: 8px;
        margin-left: 27px;
        font-size: 14px;
        padding: 8px;
        padding-top: 10px;
        text-align: center;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        border: transparent;
    }

    .ManyBox-8 .ManyBoxesBox .LiftBox .BottumTitleBoxs{
        position: relative;
        top: 40px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
        margin-bottom: 8px;
    }
    .ManyBox-8 .ManyBoxesBox .LiftBox .BottumTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 57px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-8 .ManyBoxesBox .LiftBox .BottumTitle{
        position: relative;
        top: 50px;
        left: 25%;
        width: 70%;
        height: 25px;
        text-align: right;
        font-family: var(--font-family);
        font-weight: 900;
        color: white;
        font-size: 14px;
    }
    .ManyBox-8 .ManyBoxesBox .RightBox {
        width: 50%;
        height: 100%;
        display: inline-block;
        position: relative;
        top: -130px;
    }
    .ManyBox-8 .ManyBoxesBox .RightBox .BOX{
        position: relative;
        top: 80px;
        margin: auto;
        width: 79%;
        height: 240px;
        border-radius: 20px;
    }
    .ManyBox-8 .ManyBoxesBox .RightBox .BOX span{
        color: var(--Font-Color);
        position: relative;
        text-align: right;
        font-size: 8px;
        font-weight: 600;
        font-family: var(--font-family);
    }
    /* End ManyBox-8 */

    /* Start ManyBox-9 */
    .ManyBox-9{
        position: relative;
    }
    .ManyBox-9 .ManyBoxesBox{
        width: 835px;
        height: 347px;
        border-radius: 20px;
    }
    .ManyBox-9 .ManyBoxesBox .LiftBox{
        width: 50%;
        height: 100%;
        display: inline-block;
    }
    .ManyBox-9 .ManyBoxesBox .LiftBox .TopTitle{
        position: relative;
        top: 15px;
        left: 18%;
        width: 70%;
        height: 25px;
        font-size: 14px;
        font-weight: 600;
        text-align: right;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-9 .ManyBoxesBox .LiftBox .TopTitleBoxs{
        position: relative;
        top: 25px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
    }
    .ManyBox-9 .ManyBoxesBox .LiftBox .TopTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 55px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-9 .ManyBoxesBox .LiftBox .CenterBox{
        position: relative;
        top: 40px;
        left: 14px;
        margin: auto;
        width: 87%;
        height: 155px;
        border-radius: 20px;
        display: flex;
    }
    .ManyBox-9 .ManyBoxesBox .LiftBox .CenterBox div{ 
        width: 80px;
        height: 50px;
        border: 1px solid white;
        padding: 3px;
        margin: 8px;
        margin-left: 27px;
        font-size: 14px;
        padding: 8px;
        padding-top: 10px;
        text-align: center;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        border: transparent;
    }

    .ManyBox-9 .ManyBoxesBox .LiftBox .BottumTitleBoxs{
        position: relative;
        top: 40px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
        margin-bottom: 8px;
    }
    .ManyBox-9 .ManyBoxesBox .LiftBox .BottumTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 57px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-9 .ManyBoxesBox .LiftBox .BottumTitle{
        position: relative;
        top: 50px;
        left: 25%;
        width: 70%;
        height: 25px;
        text-align: right;
        font-family: var(--font-family);
        font-weight: 900;
        color: white;
        font-size: 14px;
    }
    .ManyBox-9 .ManyBoxesBox .RightBox {
        width: 50%;
        height: 100%;
        display: inline-block;
        position: relative;
        top: -130px;
    }
    .ManyBox-9 .ManyBoxesBox .RightBox .BOX{
        position: relative;
        top: 80px;
        margin: auto;
        width: 79%;
        height: 240px;
        border-radius: 20px;
    }
    .ManyBox-9 .ManyBoxesBox .RightBox .BOX span{
        color: var(--Font-Color);
        position: relative;
        text-align: right;
        font-size: 8px;
        font-weight: 600;
        font-family: var(--font-family);
    }
    /* End ManyBox-9 */
                    /* Start BigOneGraph-7 */
    .BigOneGraph-7{
        position: relative;
    }
    .BigOneGraph-7 .IntroBatrn{
        position: absolute;
        left: 23%;
    }
    .BigOneGraph-7 .Graph-1{
        position: absolute;
        top: 523px;
        left: 346px;
        width: 420px;
        height: 815px;
        border-radius: 12px;
    }
    .BigOneGraph-7 .TopTitle{
        position: absolute;
        top: 20%;
        left: 43%;
        width: 100px;
        height: 100px;
    } 
    .BigOneGraph-7 .TopTitle span{
        width: auto;
        height: auto;
        background-color: var(--BackGround-color-Green);
        font-size: 32px;
        font-weight: 600;
        font-family: var(--font-family);
        color: white;
        padding: 8px;
        border-radius: 12px;
    } 
    .BigOneGraph-7 .BottomTitle{
        position: absolute;
        bottom: 0;
        left: 42%;
        width: 100px;
        height: 100px;
    } 
    .BigOneGraph-7 .BottomTitle span{
        width: auto;
        height: auto;
        background-color: var(--BackGround-color-Green-Sco);
        font-size: 32px;
        font-weight: 600;
        font-family: var(--font-family);
        color: white;
        padding: 8px;
        border-radius: 12px;
    } 
    .BigOneGraph-7 .Graph-1 .Graph-Top-1{ 
        width: 100%;
        height: 50%;
    }
    .BigOneGraph-7 .Graph-1 .Graph-Top-1 .Canvas:nth-child(1){ 
        position: absolute;
        bottom: 52.1%;
        left: 50px;
        background-color: #579e52;
    }
    .BigOneGraph-7 .Graph-1 .Graph-Top-1 .Canvas:nth-child(2){ 
        position: absolute;
        bottom: 52.1%;
        left: 185px;
        background-color: #579e52;
    }
    .BigOneGraph-7 .Graph-1 .Graph-Top-1 .Canvas:nth-child(3){ 
        position: absolute;
        bottom: 52.1%;
        left: 310px;
        background-color: #579e52;
    }
    .BigOneGraph-7 .Graph-1 .Graph-Bottom-1{ 
        width: 100%;
        height: 50%;
    }
    .BigOneGraph-7 .Graph-1 .Graph-Bottom-1 .Canvas:nth-child(1){ 
        position: absolute;
        top: 48.4%;
        left: 50px;
        background-color: #83be68;
        opacity: .5;
    }
    .BigOneGraph-7 .Graph-1 .Graph-Bottom-1 .Canvas:nth-child(2){ 
        position: absolute;
        top: 48.4%;
        left: 185px;
        background-color: #579e52;
        opacity: .5;
    }
    .BigOneGraph-7 .Graph-1 .Graph-Bottom-1 .Canvas:nth-child(3){ 
        position: absolute;
        top: 48.4%;
        left: 310px;
        background-color: #579e52;
        opacity: .5;
    }
    .BigOneGraph-7 .Graph-1 .TopBox{
        position: absolute;
        top: -110px;
        width: 545px;
        height: 100px;
    }
    .BigOneGraph-7 .Graph-1 .TopBox div:nth-child(1){
        width: 100%;
    }
    .BigOneGraph-7 .Graph-1 .TopBox div:nth-child(1) span{
        display: inline-block;
        margin-left: 169px;
        width: 35%;
        height: 90%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #585a5b;
    }
    .BigOneGraph-7 .Graph-1 .TopBox div:nth-child(2){
        width: 100%;
        height: 25%;
        margin-left: -18px;
        margin-bottom: 20px;
    }
    .BigOneGraph-7 .Graph-1 .TopBox div:nth-child(3){
        width: 100%;
        height: 25%;
        margin-left: -18px;
    }
    .BigOneGraph-7 .Graph-1 .TopBox div:nth-child(2) span,
    .BigOneGraph-7 .Graph-1 .TopBox div:nth-child(3) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 100px;
        height: 100%;
        border-radius: 16px;
        font-size: 26px;
        font-weight: 500;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }
    .BigOneGraph-7 .Graph-1 .BottomBox{
        position: absolute;
        width: 545px;
        height: 100px;
    }
    .BigOneGraph-7 .Graph-1 .BottomBox div:nth-child(3){
        width: 100%;
    }
    .BigOneGraph-7 .Graph-1 .BottomBox div:nth-child(3) span{
        display: inline-block;
        margin-left: 169px;
        width: 35%;
        height: 90%;
        border-radius: 16px;
        font-size: 23px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        text-align: center;
        background-color: #585a5b;
        margin-top: 12px;
    }
    .BigOneGraph-7 .Graph-1 .BottomBox div:nth-child(1){
        width: 100%;
        height: 25%;
        margin-left: -23px;
        margin-bottom: 20px;
    }
    .BigOneGraph-7 .Graph-1 .BottomBox div:nth-child(2){
        width: 100%;
        height: 25%;
        margin-left: -28px;
    }
    .BigOneGraph-7 .Graph-1 .BottomBox div:nth-child(1) span,
    .BigOneGraph-7 .Graph-1 .BottomBox div:nth-child(2) span
    {
        display: inline-block;
        margin-left: 12px;
        width: 100px;
        height: 100%;
        border-radius: 16px;
        font-size: 26px;
        font-weight: 500;
        font-family: var(--font-family);
        color: var(--Font-Color);
        text-align: center;
    }

    /* End BigOneGraph-7 */
    /* Start ManyBox-10 */
    .ManyBox-10{
        position: relative;
    }
    .ManyBox-10 .IntroBatrn{
        position: absolute;
        left: 23%;
    }
    .ManyBox-10 .ManyBoxesBox{
        width: 835px;
        height: 347px;
        border-radius: 20px;
    }
    .ManyBox-10 .ManyBoxesBox .LiftBox{
        width: 50%;
        height: 100%;
        display: inline-block;
    }
    .ManyBox-10 .ManyBoxesBox .LiftBox .TopTitle{
        position: relative;
        top: 15px;
        left: 18%;
        width: 70%;
        height: 25px;
        font-size: 14px;
        font-weight: 600;
        text-align: right;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-10 .ManyBoxesBox .LiftBox .TopTitleBoxs{
        position: relative;
        top: 25px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
    }
    .ManyBox-10 .ManyBoxesBox .LiftBox .TopTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 55px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-10 .ManyBoxesBox .LiftBox .CenterBox{
        position: relative;
        top: 40px;
        left: 14px;
        margin: auto;
        width: 87%;
        height: 155px;
        border-radius: 20px;
        display: flex;
    }
    .ManyBox-10 .ManyBoxesBox .LiftBox .CenterBox div{ 
        width: 80px;
        height: 50px;
        border: 1px solid white;
        padding: 3px;
        margin: 8px;
        margin-left: 27px;
        font-size: 14px;
        padding: 8px;
        padding-top: 10px;
        text-align: center;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        border: transparent;
    }

    .ManyBox-10 .ManyBoxesBox .LiftBox .BottumTitleBoxs{
        position: relative;
        top: 40px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
        margin-bottom: 8px;
    }
    .ManyBox-10 .ManyBoxesBox .LiftBox .BottumTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 57px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-10 .ManyBoxesBox .LiftBox .BottumTitle{
        position: relative;
        top: 50px;
        left: 25%;
        width: 70%;
        height: 25px;
        text-align: right;
        font-family: var(--font-family);
        font-weight: 900;
        color: white;
        font-size: 14px;
    }
    .ManyBox-10 .ManyBoxesBox .RightBox {
        width: 50%;
        height: 100%;
        display: inline-block;
        position: relative;
        top: -130px;
    }
    .ManyBox-10 .ManyBoxesBox .RightBox .BOX{
        position: relative;
        top: 80px;
        margin: auto;
        width: 79%;
        height: 240px;
        border-radius: 20px;
    }
    .ManyBox-10 .ManyBoxesBox .RightBox .BOX span{
        color: var(--Font-Color);
        position: relative;
        text-align: right;
        font-size: 8px;
        font-weight: 600;
        font-family: var(--font-family);
    }
    /* End ManyBox-10 */

    /* Start ManyBox-11 */
    .ManyBox-11{
        position: relative;
    }
    .ManyBox-11 .ManyBoxesBox{
        width: 835px;
        height: 347px;
        border-radius: 20px;
    }
    .ManyBox-11 .ManyBoxesBox .LiftBox{
        width: 50%;
        height: 100%;
        display: inline-block;
    }
    .ManyBox-11 .ManyBoxesBox .LiftBox .TopTitle{
        position: relative;
        top: 15px;
        left: 18%;
        width: 70%;
        height: 25px;
        font-size: 14px;
        font-weight: 600;
        text-align: right;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-11 .ManyBoxesBox .LiftBox .TopTitleBoxs{
        position: relative;
        top: 25px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
    }
    .ManyBox-11 .ManyBoxesBox .LiftBox .TopTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 55px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-11 .ManyBoxesBox .LiftBox .CenterBox{
        position: relative;
        top: 40px;
        left: 14px;
        margin: auto;
        width: 87%;
        height: 155px;
        border-radius: 20px;
        display: flex;
    }
    .ManyBox-11 .ManyBoxesBox .LiftBox .CenterBox div{ 
        width: 80px;
        height: 50px;
        border: 1px solid white;
        padding: 3px;
        margin: 8px;
        margin-left: 27px;
        font-size: 14px;
        padding: 8px;
        padding-top: 10px;
        text-align: center;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        border: transparent;
    }

    .ManyBox-11 .ManyBoxesBox .LiftBox .BottumTitleBoxs{
        position: relative;
        top: 40px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
        margin-bottom: 8px;
    }
    .ManyBox-11 .ManyBoxesBox .LiftBox .BottumTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 57px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-11 .ManyBoxesBox .LiftBox .BottumTitle{
        position: relative;
        top: 50px;
        left: 25%;
        width: 70%;
        height: 25px;
        text-align: right;
        font-family: var(--font-family);
        font-weight: 900;
        color: white;
        font-size: 14px;
    }
    .ManyBox-11 .ManyBoxesBox .RightBox {
        width: 50%;
        height: 100%;
        display: inline-block;
        position: relative;
        top: -130px;
    }
    .ManyBox-11 .ManyBoxesBox .RightBox .BOX{
        position: relative;
        top: 80px;
        margin: auto;
        width: 79%;
        height: 240px;
        border-radius: 20px;
    }
    .ManyBox-11 .ManyBoxesBox .RightBox .BOX span{
        color: var(--Font-Color);
        position: relative;
        text-align: right;
        font-size: 8px;
        font-weight: 600;
        font-family: var(--font-family);
    }
    /* End ManyBox-11 */

    /* Start ManyBox-12 */
    .ManyBox-12{
        position: relative;
    }
    .ManyBox-12 .ManyBoxesBox{
        width: 835px;
        height: 347px;
        border-radius: 20px;
    }
    .ManyBox-12 .ManyBoxesBox .LiftBox{
        width: 50%;
        height: 100%;
        display: inline-block;
    }
    .ManyBox-12 .ManyBoxesBox .LiftBox .TopTitle{
        position: relative;
        top: 15px;
        left: 18%;
        width: 70%;
        height: 25px;
        font-size: 14px;
        font-weight: 600;
        text-align: right;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-12 .ManyBoxesBox .LiftBox .TopTitleBoxs{
        position: relative;
        top: 25px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
    }
    .ManyBox-12 .ManyBoxesBox .LiftBox .TopTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 55px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-12 .ManyBoxesBox .LiftBox .CenterBox{
        position: relative;
        top: 40px;
        left: 14px;
        margin: auto;
        width: 87%;
        height: 155px;
        border-radius: 20px;
        display: flex;
    }
    .ManyBox-12 .ManyBoxesBox .LiftBox .CenterBox div{ 
        width: 80px;
        height: 50px;
        border: 1px solid white;
        padding: 3px;
        margin: 8px;
        margin-left: 27px;
        font-size: 14px;
        padding: 8px;
        padding-top: 10px;
        text-align: center;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
        border: transparent;
    }

    .ManyBox-12 .ManyBoxesBox .LiftBox .BottumTitleBoxs{
        position: relative;
        top: 40px;
        left: 11%;
        width: 86%;
        height: 30px;
        display: flex;
        margin-bottom: 8px;
    }
    .ManyBox-12 .ManyBoxesBox .LiftBox .BottumTitleBoxs div{
        width: 40px;
        height: 20px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        padding: 3px;
        margin: 8px;
        margin-left: 57px;
        font-size: 8px;
        font-weight: 900;
        font-family: var(--font-family);
        color: white;
    }
    .ManyBox-12 .ManyBoxesBox .LiftBox .BottumTitle{
        position: relative;
        top: 50px;
        left: 25%;
        width: 70%;
        height: 25px;
        text-align: right;
        font-family: var(--font-family);
        font-weight: 900;
        color: white;
        font-size: 14px;
    }
    .ManyBox-12 .ManyBoxesBox .RightBox {
        width: 50%;
        height: 100%;
        display: inline-block;
        position: relative;
        top: -130px;
    }
    .ManyBox-12 .ManyBoxesBox .RightBox .BOX{
        position: relative;
        top: 80px;
        margin: auto;
        width: 79%;
        height: 240px;
        border-radius: 20px;
    }
    .ManyBox-12 .ManyBoxesBox .RightBox .BOX span{
        color: var(--Font-Color);
        position: relative;
        text-align: right;
        font-size: 8px;
        font-weight: 600;
        font-family: var(--font-family);
    }
    /* End ManyBox-12 */
    
    /* Start FinlePage */
    .FinlePage{
        position: relative;
    }
    .FinlePage .FinlePageLogo{
        position: absolute;
        top: 28%;
        left: 13%;
        width: 800px;
        height: 600px;
    }
    /* End FinlePage */
    /* END REPORT 5 */
