

.EditQustion .EditReportPage{
    margin-left: 62px;
    margin-top: 32px;
}
.EditQustion h1{
    color: #1d4963;
    font-family: "tahoma";
    font-weight: 600;
}
.EditQustion h3{
    color: #5e8fa6;
    font-family: none;
    font-weight: 400;
    margin: 18px;
}
.EditQustion label{
    font-size: 23px;
    color: #357a9b;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.EditQustion input{
    width: 360px;
    height: 28px;
    border:3 transparent;
    border-radius: 4px;
}
.Value{
    position: relative;
    top: -37px;
    left: 66px;
}
.InputValue{
    width: 165px;
}
.EditQustion .SaveBtn{
    width: 150px;
    height: 50px;
    margin: 50px auto 0 auto;
}
.EditQustion .ClearBtn{
    width: 150px;
    height: 50px;
    margin: 50px auto 0 auto;
}
.GenerateBtn{
    width: 150px;
    height: 30px;
    display: inline-block;
}