

.EditReportPage .EditReportPage{
    margin-left: 62px;
    margin-top: 32px;
}
.EditReportPage h1{
    color: #1d4963;
    font-family: "tahoma";
    font-weight: 600;
}
.EditReportPage h3{
    color: #5e8fa6;
    font-family: none;
    font-weight: 400;
    margin: 18px;
}
.EditReportPage label{
    font-size: 23px;
    color: #357a9b;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.EditReportPage input{
    width: 360px;
    height: 28px;
    border:3 transparent;
    border-radius: 4px;
}