

.AddQustion .EditReportPage{
    margin-left: 62px;
    margin-top: 32px;
}
.AddQustion h1{
    color: #1d4963;
    font-family: "tahoma";
    font-weight: 600;
}
.AddQustion h3{
    color: #5e8fa6;
    font-family: none;
    font-weight: 400;
    margin: 18px;
}
.AddQustion label{
    font-size: 23px;
    color: #357a9b;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    width: auto !important;
}
#Value{
    position: relative;
    top: -37px;
    left: 66px;
}
#InputValue{
    width: 165px;
}
.AddQustion input{
    width: 360px;
    height: 28px;
    border:3 transparent;
    border-radius: 4px;
}
.DeletBtn{
    width: 134px;
    height: 42px;
    margin-top: 8px;
}
.AddQustion .AddBtn{
    width: 134px;
    height: 42px;
    margin-top: 20px;
    /* margin-top: 100px; */
}
.AddQustion .SendBtn{
    width: 134px;
    height: 42px;
    margin: 0 auto 0 auto;
    margin-top: 100px;
}